body {

    margin: 0;
    background-color: #181414;
    color: #fff;
    font-family: 'Century Gothic', Arial, sans-serif;
}

.header {
    background-color: #282424;
    color: #fff;
    padding: 0 20px 0 20px;
    
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__logo--image {
    height: 20px;
    width: 40px;
    margin-left: -17px;
    padding: 10px;
}

.header__nav--item {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.header__nav--link {
    color: #FFFFFF;
    text-decoration: none;
}

.header__nav--link:hover {
    color: #A64D79;
    transition: color 0.3s;
}

.header {
    background-color: #282424;
    color: white;
    padding: 0 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 15px;
}

.header__nav--list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__nav--item {
    position: relative;
}

.header__nav--link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.header__nav--link:hover {
    border-radius: 5px;
}

.header__nav--dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__menu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 450px; 
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 100; 
}

.dropdown__menu p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}


.dropdown__menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.dropdown__menu a:hover {
    background-color: #A64D79;
}



.intro_descripcion{
    text-align: left;
    margin-bottom: 125px;
    padding: 10px;
    background-color: #282424;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.intro_descripcion h2{
    font-size: 1.8em;
    margin-bottom: -20px;
    color: #ffb3b3;
    font-weight: bold;
}

.intro_descripcion p{
    font-size: 1em;
}

/*como leer una oferta*/
.como_leer_oferta_intro{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.como_leer_oferta_intro h3{
    margin-bottom: -20px;
    color: #a8f0c1;
}


.contenedores{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px; 
    justify-content: center;
    
}

.contenedores h3{
    color: #f5e2e2;
    font-size: 1.2em;
}
.contenedor{
    width: 20%;  
    background-color: #292929;
    border-radius: 20px; 
    margin: 10px; 
    float: left; 
    padding: auto; 
    flex: 1; 
    padding: 15px; 
    width: 30%;
    min-width: 250px; 
    height: 450px;
}

.contenedor__item{
margin-bottom: 20px;
font-size: 14px;
}

.como_leer_oferta{
    margin-bottom: 120px;
}

.tabla {
    width: 100%;
    border-collapse: collapse; 
    table-layout: fixed;
    
}

.tabla__encabezado {
    color: white;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);


.tabla__h2{
    color: #a8f0c1;
}

.tabla__fila {
    border: 2px solid rgb(255, 255, 255); 
}

.tabla__celda {
    padding: 20px; 
    border: 1px solid rgb(255, 255, 255); 
    text-align: left;
    flex-direction: column; 
    height: 200px;
    justify-content: space-between;

}

.boton {
    display: inline-block; 
    background-color: #c8b4d4 ; 
    color: #000; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    text-decoration: none; 
    text-align: center; 
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

.boton:hover {
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1A1A1D;
    color: #fff;
}


@media (max-width: 1024px) {
    .main__section--ods {
        margin: 0 100px; 
    }

    .header__container {
        flex-wrap: wrap; 
    }

    .header__logo {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .main__section--ods {
        margin: 0 20px; 
    }

    .main__section--resources {
        flex-direction: column; 
    }

    .section__div {
        height: auto;
    }

    .header__nav {
        flex-direction: column;
        align-items: center;
    }

    .header__nav--item {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .header__logo {
        font-size: 16px;
    }

    .header__nav {
        display: none; 
    }

    .section__div {
        padding: 10px; 
    }

    .div__button {
        padding: 8px 12px; 
    }
}
